.home-page {
    text-align: center;
    padding: 20px;
  }
  .choose {
    font-family: 'Roboto', sans-serif; 
    font-size: 1.2em; 
    font-weight: 500; 
    color: #333; 
    text-transform: inherit; 
    text-align: center; 
    letter-spacing: 0.05em; 
    line-height: 1.5; 
    margin: 10px 0; 
    padding: 10px; 
    background-color: #fadfbe;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s; 
  }
  
  .choose:hover {
    background-color: #f0c582; 
    transform: scale(1.05); 
    cursor: pointer; 
  }
  
  .choose:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2); 
  }
  
  
  .ticket-options {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap; /* Allow wrapping to new rows */
    width: 100%; /* Adjust width to accommodate row alignment */
  }
  
  .ticket-option {
    background: #f9d5dc;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    width: 45%; /* Adjust width to fit two columns in a row */
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
  }
  
  .ticket-option:hover {
    transform: scale(1.05);
    background: #fba9ba;
  }
  
  .ticket-option img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 10px;
  }
  
  span {
    text-shadow: #daec55; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
    padding: 20px;
  }
  