.whats-book{
  background-color: #f6eec2;
  height: 100%;
}

.ticket-booking-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f6eec2; 
  color: #333; 
  font-family: Arial, sans-serif;
  animation: fadeIn 1s ease-in-out;
  position: relative;
  padding-top: 60px; 
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #B69E4A;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
}

.header-title {
  font-size: 1.5rem;
  color: white;
  margin: 0;
  padding-left: 600px;
}

.try-bot-btn {
  background-color: #3b3e15;
  color: #fff; 
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.try-bot-btn:hover {
  background-color: #B69E4A;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.step-content {
  animation: fadeIn 0.8s ease-in-out;
  padding: 20px;
  background-color: #f6eec2; 
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.step-heading {
  font-size: 2rem;
  color: #555; 
  margin-bottom: 15px;
}

.step-description {
  font-size: 1.2rem;
  color: #666; 
  line-height: 1.6;
  margin-bottom: 20px;
}

.qr-code-image {
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  border-radius: 10px;
  animation: popIn 1s ease-in-out;
  margin-left: auto;
  margin-right: auto;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav-button {
  padding: 10px 20px;
  background-color: #3b3e15;
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:disabled {
  background-color: #B69E4A; 
  cursor: not-allowed;
}

.nav-button:hover:not(:disabled) {
  background-color: #B69E4A; 
}

@media (max-width: 600px) {
  .ticket-booking-wrapper {
    padding: 10px;
  }

  .header-title {
    font-size: 1.2rem;
  }

  .step-heading {
    font-size: 1.6rem;
  }

  .step-description {
    font-size: 1rem;
  }

  .qr-code-image {
    width: 150px;
    height: 150px;
  }
}