.media{
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #EC9836;
    margin-left:315px;
}

.zoovoyage{
    text-align: center;
    padding-left: 200px;
    padding-top: 14px;
}