.get-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 95%;
  margin-left: 35px;
}

.get-header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background-color: #3b3e15;
}

.get-header-buttons {
  display: flex;
  gap: 5px;
}

.get-logo {
  height: 50px; 
  margin-right: 535px;
}

.get-zoovoyage {
  text-align: center;
  color: white;
  padding-right: 480px;
  font-size: 20px;
  margin-bottom: 5px;
}

.get-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.get-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.get-slide-image {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.get-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.wel {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 300px;
  margin-left: 500px;
}

.get-started-button {
  background-color: #3b3e15;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 19px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.get-started-button:hover {
  background-color: #B69E4A;
  transform: scale(1.05);
}

.get-footer {
  background-color: #B69E4A;
  color: #fff;
  text-align: center;
  padding: 25px;
}

.social-media .x {
  font-size: 20px;
}

.get-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
