.get-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 95%;
  margin-left: 35px;
}

.get-header {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 20px;
  background-color: #3b3e15;
}

.get-header-buttons {
  display: flex;
  gap: 5px;
}

.get-zoovoyage {
  text-align: center;
  color: white;
  padding-right: 400px;
  font-size: 20px;
  margin-bottom: 2px;
  padding-top: 5px;
}

.get-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.get-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.get-slide-image {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.get-btn-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.welcome-to-zoovoyage,
.ele,
.beauty{
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
  margin-top: 220px;
  margin-left: 25px;
}

.get-started-button {
  background-color: #3b3e15;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 19px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-right: 900px;
  margin-top: 1px;
  margin-bottom: 145px;
}

.get-started-button:hover {
  background-color: #B69E4A;
  transform: scale(1.05);
}

.get-footer {
  background-color: #B69E4A;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 1px;
}

.social-media {
  margin-right: 1px;
}

.get-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.xy {
  color: #3b3e15;
  font-weight: bold;
}
