.about{
  background-color: #f6e2cb;
}
  
  .about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-height: 800px;
  }
  
  .about-us-content {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    max-width: 700px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }

  .ab{
    text-align: center;
    color: #4A0A1A;
    font-size: 22px;
    margin-top: 20px;
  }
  
  .a{
    text-align: center;
    color: #4A0A1A;
    font-size: 22px;
  }
  
  .par {
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .ul {
    text-align: justify;
    list-style: inside;
    padding: 0;
  }
  
  .ul li {
    font-size: 16px;
    padding: 10px 0;
    border-bottom: none;
  }
  
  .ul li:last-child {
    border-bottom: 1px solid #666;
  }
  
  section {
    margin-bottom: 30px;
  }

  .achi{
    text-align: center;
    color: #4A0A1A;
    font-size: 22px;
  }

  .awar{
    text-align: center;
    color: #4A0A1A;
    font-size: 22px;
  }