.container-adopt {
    width: 100%;
    padding: 20px;
    background-color: #f3f1e7; /* Light, natural background color */
    text-align: center;
    max-width: 1200px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
    color: #2d5d34; /* Dark green color */
    font-size: 2.5em;
    font-weight: bold;
}

.carousel-adopt {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 600px; /* Adjust the height as needed */
}

.image-card-adopt {
    position: absolute;
    text-align: center;
    background-color: #f3f1e7;
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out, transform 1s ease;
    opacity: 0; /* Initially hidden */
    transform: translateY(50px); /* Start slightly below */
    animation: floatIn 1.5s ease forwards;
}

.image-card-adopt.active {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Move to position */
    z-index: 1; /* Ensure it's on top */
}

.image-card-adopt.exiting {
    opacity: 0; /* Fade out */
    transform: translateY(-50px); /* Move out to the top */
    z-index: 0; /* Send to the back */
}

@keyframes floatIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.image-card-adopt img {
    width: 80%;
    height: auto;
    max-height: 80%;
    object-fit: cover; /* Adjusts the image to cover the container while maintaining aspect ratio */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-card-adopt img:hover {
    transform: scale(1.1); /* Slight zoom effect */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Add shadow effect */
}

.buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
}

.view-button,
.adopt-button {
    padding: 12px 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
}

.view-button:hover,
.adopt-button:hover {
    background-color: #388e3c;
    transform: scale(1.05);
}

.adopt-button {
    background-color: #f44336;
}

.adopt-button:hover {
    background-color: #d32f2f;
}
