/* Keyframes for animations */
@keyframes flyIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.contact-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #fbf2bf; 
  color: #333; 
  animation: flyIn 1s ease-out, fadeIn 1.5s ease-in;
}

.head {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  max-width: 700px;
  background-color: #f6e9a2; 
  color: #333; 
  animation: flyIn 1.2s ease-out;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px #fbf2bf; 
  background-color: #fbf7de; 
  color: #333; 
  animation: popIn 1.5s ease-out;
}

.contact-form label {
  font-size: 1em; 
  margin-bottom: 6px;
  font-weight: bold;
  color: #555; 
}

.email-form-group input,
.report-form-group input,
.contact-form textarea {
  width: 80%; 
  max-width: 350px; 
  padding: 8px; 
  border: 1px solid #fbf2bf; 
  border-radius: 6px; 
  font-size: 0.9em; 
  color: #333; 
  background-color: #fbf2bf; 
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
}

.contact-form textarea {
  width: 80%; 
  max-width: 350px; 
  padding: 8px; 
  border: 1px solid #fbf2bf; 
  border-radius: 6px; 
  font-size: 0.9em; 
  color: #333; 
  background-color: #fbf2bf; 
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #aaa; 
}

.email-form-group input:focus,
.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #888;
  outline: none;
}

.contact-button {
  width: 30%;
  padding: 10px;
  color: #fff; 
  background-color: #B69E4A; 
  border: none;
  border-radius: 8px;
  font-size: 15px; 
  cursor: pointer;
  align-self: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.contact-button:hover {
  background-color: #d5c071;
}

.contact-info {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
  background-color: #fbf7de; 
  color: #333; 
  animation: flyIn 1.6s ease-out, fadeIn 2s ease-in;
}

.contact-info p {
  font-size: 1em; 
  color: #9b863c; 
  margin: 5px 0;
}


.social-media {
  text-align: center;
  animation: fadeIn 2s ease-in;
}

.social-icons {
  display: flex;
  justify-content: center; 
  gap: 15px; 
  animation: fadeIn 2s ease-in;
}

.social-icons a {
  display: inline-block; 
}

.Z {
  color: #333; 
  font-size: 20px;
  margin-bottom: 10px;
}

.x{
  color: #141414; 
  font-size: 19px;
}

.f {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f6e9a2; 
  color: #333; 
  animation: flyIn 1.8s ease-out, fadeIn 2s ease-in;
}

.toemail::placeholder {
  color: #aaa; 
}

.email-form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.report-form-group{
  display: flex;
}