.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; 
}

.login-form {
  border-radius: 8px;
  box-shadow: 0 0 10px #3b3e15;
  background: linear-gradient( #B69E4A,#3b3e15);
  width: 350px;
  height: 330px;
  animation: scaleUp 0.5s ease-in-out;
}

.log-close-button {
  position: absolute;
  top: 155px;
  right: 540px;
  font-size: 26px;
  cursor: pointer;
  color: white;
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: white;
  text-align: center;
}

.login-form ::placeholder{
  color: rgb(215, 207, 207);
}

.log-form-group {
  margin-bottom: 15px;
}

.log-form-group input {
  width: 100%;
  max-width: 255px;
  border-radius: 15px;
  font-size: 16px;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #ddd;
  color: white;
  transition: border-color 0.3s, box-shadow 0.3s;
  padding: 10px;
}

.log-form-group input:focus {
  border-color: #B69E4A;
  outline: none;
}

.login-button {
  width: 40%;
  padding: 10px;
  color: white;
  background-color: #3b3e15;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s;
}

.login-button:hover {
  background-color: #B69E4A;
  transform: scale(1.05);
}

.register-link {
  margin-top: 10px;
  text-align: center;
}

.register-link span {
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.z{
  font-size: 15px;
  color: white;
}

/* Keyframes */
@keyframes scaleUp {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
