.login-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://t3.ftcdn.net/jpg/05/91/89/04/240_F_591890431_AI2DqDVJZKrOM6bqChPExgVB1B38bpVx.jpg') no-repeat center center/cover;
  overflow: hidden;
}

  
  .login-form {
    padding-right: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px #4A0A1A;
    width: 100%;
    width: 400px;
    height: 300px;
    margin-left: 0px;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #4A0A1A;
    text-align: center;
  }

  .login-form ::placeholder{
    color: #BD1E1B;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    background-color: #FFC57C;
    margin-right: 240px;
  }
  
  .form-group input {
    width: 100%;
    max-width: 255px;
    border: 1px solid #FFC57C;
    border-radius: 15px;
    font-size: 16px;
    margin-left: 10px;
  }
  
  .login-button {
    width: 40%;
    padding: 10px;
    color: #D72315;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #BD1E1B;
  }
  
  .register-link {
    margin-top: 10px;
    text-align: center;
  }
  
  .register-link a {
    color: #BD1E1B;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }

  .z{
    color: white;
  }