/* Profile.css */
.prof{
    /* background-image: url("https://images.pexels.com/photos/1327405/pexels-photo-1327405.jpeg?auto=compress&cs=tinysrgb&w=600"); */
    /* background-image: url("https://images.pexels.com/photos/1327405/pexels-photo-1327405.jpeg?auto=compress&cs=tinysrgb&w=600") no-repeat center center/cover; */
    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("https://images.pexels.com/photos/1327405/pexels-photo-1327405.jpeg?auto=compress&cs=tinysrgb&w=600") no-repeat center center/cover;
  overflow: hidden;
}

.profile-container { 
    max-width: 600px;
    margin: 50px auto;
    margin-top: 170px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  .profile-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
  }
  
  .profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .profile-table td {
    padding: 10px;
  }
  
  .profile-table input {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .profile-table input:focus {
    border-color: #5dade2;
    outline: none;
  }
  
  .profile-table button {
    background-color: #e0ac6d;
    color:black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .profile-table button:hover {
    background-color: #f9c586;
  }
  
  .profile-table button:active {
    background-color: #dcb27e;
  }
  
  .profile-table td:first-child {
    text-align: right;
    font-weight: bold;
    color: #34495e;
  }
  
  .profile-table td:last-child {
    text-align: left;
  }
  
  .profile-table tr:last-child td {
    text-align: center;
    padding-top: 20px;
  }
  