.prof-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("https://c.wallhere.com/images/03/51/b8f63291febcf2b291d0b602eaca-1428583.jpg!s1") no-repeat center center/cover;
  overflow: hidden;
}

.profile-container {
  background-color: transparent; 
  color: #333333; 
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.8s ease-in-out;
}

.profile-container h2 {
  font-size: 22px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  animation: slideInTop 0.8s ease-in-out;
}

.profile-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
  animation: zoomIn 0.8s ease-in-out;
}

.profile-table td {
  padding: 12px;
  vertical-align: middle;
}

.profile-table input[type="text"],
.profile-table input[type="email"],
.profile-table input[type="tel"],
.profile-table input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #999999; 
  border-radius: 5px;
  background-color: #f7f7f7; 
  color:black; 
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); 
  animation: popIn 0.8s ease-in-out;
}

.profile-table button {
  color: white;
  background-color: #3b3e15;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  animation: slideInBottom 0.8s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.profile-table button:hover {
  background-color: #B69E4A;
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25); 
}

.col {
  color: white; 
  font-weight: bold;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideInTop {
  0% { transform: translateY(-100px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes slideInBottom {
  0% { transform: translateY(100px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes zoomIn {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes popIn {
  0% { transform: scale(0.9); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}