.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(Login.png) no-repeat center center/cover;
  }
  
  .register-form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #4A0A1A;
    width: 100%;
    max-width: 400px;
    margin-left: 890px;
  }
  
  .register-form h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #4A0A1A;
    text-align: center;
  }

  .register-form ::placeholder{
    color: #BD1E1B;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    background-color: #FFC57C;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    max-width: 260px;
    border: 1px solid #FFC57C;
  }
  
  .register-button {
    width: 40%;
    padding: 10px;
    background-color: #D72315;
    color: #e6e3e3;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .register-button:hover {
    background-color: #BD1E1B;
  }
  
  .login-link {
    margin-top: 10px;
    text-align: center;
  }
  
  .login-link a {
    color: #BD1E1B;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  