.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.reg-close-button {
  position: absolute;
  top: 70px;
  right: 560px;
  font-size: 26px;
  cursor: pointer;
  color: white;
}
  
  .register-form {
    padding: 38px;
    border-radius: 8px;
    box-shadow: 0 0 10px #3b3e15;
    background: linear-gradient( #B69E4A,#3b3e15);
  }
  
  .register-form h2 {
    margin-bottom: 22px;
    font-size: 22px;
    color: white;
    text-align: center;
  }

  .register-form ::placeholder{
    color: rgb(215, 207, 207);
  }
  
  .reg-form-group {
    margin-bottom: 15px;
  }
  
  .reg-form-group label {
    display: block;
    margin-bottom: 5px;
    background-color: #4A0A1A;
  }
  
  .reg-form-group input {
    width: 100%;
    padding: 10px;
    max-width: 260px;
    border-radius: 15px;
    font-size: 16px;
    justify-content: center;
    background-color: transparent;
    color: white;
  }

  .reg-form-group input:hover{
    border-color: #3b3e15;
  }

  .reg-form-group input:focus {
    border-color: #B69E4A;
    outline: none;
  }
  
  .register-button {
    width: 40%;
    padding: 10px;
    color: white;
    background-color: #3b3e15;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
  }
  
  .register-button:hover {
    background-color: #B69E4A;
  }
  
  .login-link {
    margin-top: 10px;
    text-align: center;
  }
  
  .login-link a {
    color: #B69E4A;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  