.ac {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hed {
  color: white;
  background-color: #3b3e15;
  text-align: center;
}

.ma {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: #eedc9c;
}

.carousel-con {
  margin-bottom: 30px;
  width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  height: 300px;
}

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
  visibility: hidden;
}

.carousel:hover .carousel-control-prev-icon,
.carousel:hover .carousel-control-next-icon {
  visibility: visible;
}

.footer {
  color: #363811;
  background-color: #B69E4A;
  text-align: center;
  padding: 40px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.tab{
  margin-left: 6px;
}

.tabheading{
  margin-left: 160px;
  color: #3b3e15;
  font-size: 1.15em;
}

.q{
  margin-left: 138px;
}

.but{
  width: 115px;
  height: 33px;
  background-color: #3b3e15;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.but:hover{
  background-color: #B69E4A;  
}